---
import Base from "../layouts/Base.astro";
import { Logo } from "../components/Logo.tsx";
import { HeroBackground } from "../components/HeroBackground.tsx";
import { Rewrite } from "../components/Rewrite.tsx";
import { Projects } from "../components/Projects.tsx";
---

<Base>
    <header class="flex w-full items-center justify-center border-b">
        <nav
            class="relative flex h-20 w-full justify-between border-x md:w-2/3"
        >
            <div
                class="flex aspect-square h-20 w-20 items-center justify-center rounded-full border-2 bg-zinc-950 p-5"
            >
                <Logo client:load />
            </div>

            <div class="flex min-w-fit">
                <a
                    href="/Portfolio/resume"
                    class="flex h-full min-w-fit items-center justify-center border-x px-3 text-center text-base font-black duration-200 hover:bg-zinc-700 xs:px-5 xs:text-lg"
                >
                    Resume
                </a>
                <a
                    href="#Contact"
                    class="flex min-w-fit items-center justify-center rounded-[4rem] bg-teal-400 px-8 text-center text-base font-black text-zinc-950 transition-[border-radius] duration-200 ease-in-out hover:rounded-none xs:text-lg"
                >
                    Contact Me
                </a>
            </div>
        </nav>
    </header>

    <main id="Hero" class="flex h-fit justify-center border-b">
        <div
            class="flex h-fit w-full items-center justify-center border-x md:w-2/3"
        >
            <HeroBackground client:load />
            <div
                class="absolute flex h-fit w-fit flex-col items-center justify-center border-2 bg-zinc-950 p-2"
            >
                <h1 class="text-lg sm:text-2xl md:text-5xl lg:text-7xl">
                    Lorem Ipsum
                </h1>
                <h1
                    class="bg-slate-p-1 text-sm font-light sm:text-xl md:text-3xl lg:text-5xl"
                >
                    [<Rewrite
                        titles={[
                            "Mechatronics Engineer",
                            "Software Engineer....",
                            "Robotics Engineer....",
                            "Mechanical Engineer..",
                            "Electrical Engineer..",
                        ]}
                        inbetween="....................."
                        client:load
                    />]
                </h1>
            </div>
        </div>
    </main>
    <section id="Projects" class="flex h-fit flex-col items-center border-b">
        <div
            class="flex h-fit w-full items-center justify-center border-x p-8 md:w-2/3"
        >
            <h1 class="text-lg font-extralight lg:text-2xl">PROJECTS</h1>
        </div>
        <div class="w-full border-b"></div>
        <Projects client:load />
    </section>
    <section id="About">
        <h1>About Me</h1>
    </section>
    <section id="Contact">
        <h1>Reach out to me</h1>
        <p>LinkedIn</p>
        <p>Gmail</p>
        <p>Discord</p>
        <p>Github</p>
    </section>
</Base>

<script></script>
