<html lang="en">
    <head>
        <meta charset="UTF-8" />
        <meta name="viewport" content="width=device-width" />
        <meta name="generator" content={Astro.generator} />
        <link rel="icon" type="image/svg+xml" href="/Portfolio/favicon.svg" />

        <link rel="preconnect" href="https://fonts.googleapis.com" />
        <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin />
        <link
            href="https://fonts.googleapis.com/css2?family=Roboto+Mono:ital,wght@0,100..700;1,100..700&display=swap"
            rel="stylesheet"
        />
        <title>Portfolio</title>
    </head>
    <body class="font-roboto bg-zinc-950 text-zinc-50">
        <slot />
    </body>
    <div
        class="hidden bg-blue-500 bg-green-500 bg-purple-500 bg-red-500 bg-teal-500 bg-yellow-500 hover:bg-blue-500 hover:bg-green-500 hover:bg-purple-500 hover:bg-red-500 hover:bg-teal-500 hover:bg-yellow-500"
    >
    </div>
</html>

<script>
    // Setup GSAP plugins
    import { gsap } from "gsap";
    import { MotionPathPlugin } from "gsap/MotionPathPlugin";
    import { TextPlugin } from "gsap/TextPlugin";
    import { ScrollTrigger } from "gsap/ScrollTrigger";
    import { useGSAP } from "@gsap/react";
    import { Flip } from "gsap/dist/Flip";

    gsap.registerPlugin(
        MotionPathPlugin,
        TextPlugin,
        ScrollTrigger,
        useGSAP,
        Flip,
    );

    // Initialize the store
    import { useStore } from "../utils/store.ts";
    useStore.getState().initializeState();

    // Initialize Rapier
    import RAPIER from "@dimforge/rapier2d-compat";
    await RAPIER.init();
</script>
